@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #09090b;
  color: #fafafa;
  min-height: 100vh;
  inset: 0px;
}

.default-focus {
  @apply focus:outline-none focus:ring-2 ring-[#18A15D] ring-offset-2 ring-offset-zinc-950;
}


::-webkit-scrollbar{
  @apply w-1
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600
}